<html>
    <body>
        <div class="footer" style="margin-top: auto; padding: 0 30 0 30;">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <label for="slider">Hour Selector</label>
                    <input type="range" min="-24" max="0" value="0" id="slider" 
                        step="1" oninput="outputUpdate(value)">
                    <output for="slider" id="volume">0</output>
                </div>
            </div>
            
        </div>
    </body>
</html>

<script>
    function outputUpdate(vol) {
    document.querySelector('#volume').value = vol;
    $.ajax({
            url: '/plain',
            type: 'POST',
            data: {
                slider_value: vol
            }
        }).done(function(result){     // on success get the return object from server
            console.log(result)     // do whatever with it. In this case see it in console
        })
}

</script>