<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Receive Updates</h3>
         First Name<br>
         <input type = "text" name = "fn" /></br>
         
         Last Name<br>
         <input type = "text" name = "ln" ><br>
         
         Email<br>
         <input type = "email" name = "email" /><br>
         
         City<br>
         <input type = "text" name = "city" /><br>
         <input type = "Submit" value = "submit" /><br>
      </form>
      
   </body>
</html>