{% include 'navbar_new.html' %}

{% if title == 'cur' %}
    {% include 'cur.html' %}

{% elif title == 'm1' %}
    {% include 'm1.html' %}

{% elif title == 'm2' %}
    {% include 'm2.html' %}

{% elif title == 'm3' %}
    {% include 'm3.html' %}

{% elif title == 'm4' %}
    {% include 'm4.html' %}

{% elif title == 'm5' %}
    {% include 'm5.html' %}

{% elif title == 'm6' %}
    {% include 'm6.html' %}

{% elif title == 'm7' %}
    {% include 'm7.html' %}

{% elif title == 'm8' %}
    {% include 'm8.html' %}

{% elif title == 'm9' %}
    {% include 'm9.html' %}

{% elif title == 'm10' %}
    {% include 'm10.html' %}

{% elif title == 'm11' %}
    {% include 'm11.html' %}


{% elif title == 'm12' %}
    {% include 'm12.html' %}


{% elif title == 'h1' %}
    {% include 'h1.html' %}

{% elif title == 'h2' %}
    {% include 'h2.html' %}


{% elif title == 'h3' %}
    {% include 'h3.html' %}


{% elif title == 'h4' %}
    {% include 'h4.html' %}


{% elif title == 'h5' %}
    {% include 'h5.html' %}


{% elif title == 'h6' %}
    {% include 'h6.html' %}

{% else %}
    {% include 'cur.html' %}
{% endif %}

{% include 'footer.html' %}
