<ul class="nav navbar-nav">
    <li class="active"><a href="#">A.I.R.</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REALTIME MAPS<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="cur">Current</a></li>
          <li><a href="h1">1 hour ago</a></li>
          <li><a href="h2">2 hours ago</a></li>
          <li><a href="h3">3 hours ago</a></li>
          <li><a href="h4">4 hours ago</a></li>
          <li><a href="h5">5 hours ago</a></li>
          <li><a href="h6">6 hours ago</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HISTORICAL MAPS<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="m1">NOV</a></li>
          <li><a href="m2">DEC</a></li>
          <li><a href="m3">JAN</a></li>
          <li><a href="m4">FEB</a></li>
          <li><a href="m5">MAR</a></li>
          <li><a href="m6">APR</a></li>
          <li><a href="m7">MAY</a></li>
          <li><a href="m8">JUN</a></li>
          <li><a href="m9">JUL</a></li>
          <li><a href="m10">AUG</a></li>
          <li><a href="m11">SEP</a></li>
          <li><a href="m12">OCT</a></li>
        </ul>
      </li>
    <li><a href="#subscribe">Subscribe</a></li>
</ul>
